#{extends 'main.html' /}
#{set title:'MODEC Team - News' /}
#{set active:'new' /}
#{set 'moreStyles'}
    #{stylesheet 'news.css' /}
#{/set}



<ol class="breadcrumb default square rsaquo sm">
    <li>
        <a href="@{Application.index()}">
            <span class="glyphicon glyphicon-home"></span>
        </a>
    </li>
    <li>
        <a href="@{NewCtrl.index()}">
            News
        </a>
    </li>
    <li>
       ${_new.title}
    </li>
</ol>

<div id="blog" class="row">
    <div class="col-sm-2 paddingTop20">
        <nav class="nav-sidebar">
            <ul class="nav">
                <li>Categories</li>
                <li class="nav-divider"></li>
                <li><a href="@{NewCtrl.index()}"><span class="glyphicon glyphicon-th-list"></span> All News</a></li>
            #{list items:sections , as:'section'}
                    <li><a href="@{NewCtrl.bySection(section.id)}">${section.name}</a></li>
            #{/list}
            </ul>
        </nav>
    </div>
    <div class="col-sm-10">
        <div class="row">
        #{if _new.imgURL != null}
            <div class="col-lg-4">
                <img src="${_new.imgURL}" alt="${_new.title} image" class="img-responsive"/>
            </div>
        #{/if}
            <div class="col-lg-8">
                <h4>${_new.title}</h4>
                <p>
                    #{verbatim }${_new.content}#{/verbatim}
                </p>
                <p>
                  <span class="badge">Posted ${_new.datePublication.format("dd/MM/yyyy")}</span>
                </p>
            </div>
        </div>
    </div>
</div>