#{extends 'main.html' /}
#{set title:'MODEC Team - Research Areas' /}
#{set active:'researcharea' /}


<ol class="breadcrumb default square rsaquo sm">
    <li>
        <a href="@{Application.index()}">
            <span class="glyphicon glyphicon-home"></span>
        </a>
    </li>
    <li>
        Research Areas
    </li>
</ol>

<div class="row">
    #{list items:researchAreas , as:'researchArea'}
    <div class="col-lg-4">
        <div class="panel panel-default">
            <div class="panel-body">
                <a href="#" class="thumbnail">
               <img alt="${researchArea.name} image" src="${researchArea.imgURL}" class="img-responsive"/>
                 </a>
            </div>
            <div class="panel-footer">
               <a class="btn btn-outline btn-default btn-block" href="@{ResearchAreaCtrl.details(researchArea.id)}">
                   ${researchArea.name}
               </a>
            </div>
        </div>
     </div>
#{/list}
</div><!-- End row -->