<div class="col-md-12 section-title">
    Last Events
    <div class="read-more">
        <a href="#"> <span class="glyphicon glyphicon-chevron-right"></span>Read more</a>
    </div>
</div>
<div class="col-md-12">
    <ul class="event-list">
        <li>
            <time datetime="2014-10-10">
                <span class="day">10</span>
                <span class="month">August</span>
                <span class="year">2014</span>
            </time>

            <div class="info">
                <h2 class="title">Thesis presentation schedule</h2>

                <p class="desc">
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Distinctio, iure quos.
                </p>
            </div>

        </li>


    </ul>
</div>